/* Colors */

:root {
  --light: #ffffff;
  --medium: #444444;
  --dark: #151515;
  --accent: #d5966c;
}

/* Basic styling for the whole page */

body {
  margin: 0;
}

/* Fit to container */
.container-fit {
  height: 100%;
  width: 100%;
}

.mobile {
  display: block;
  visibility: visible;
}

.tablet {
  display: none;
  visibility: hidden;
}

.desktop {
  display: none;
  visibility: hidden;
}

.hide-white-logo {
  height: 0;
  width: 0;
}

/* Color variables used in classes */

.dark-background {
  background: var(--dark);
}

.light-text {
  color: var(--light);
}

.medium-text {
  color: var(--medium);
}
/* Font styles*/

@font-face {
  font-family: Outfit;
  src: url("./assets/static/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: Shoulders;
  src: url("./assets/static/BigShouldersDisplay-Black.ttf");
}

@font-face {
  font-family: "Shoulders-Extra-Bold";
  src: url("./assets/static/BigShouldersDisplay-ExtraBold.ttf");
}

.heading {
  font-family: "Shoulders", sans-serif;
  padding-top: 9%;
  padding-right: 15%;
  padding-bottom: 3%;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.heading-logo {
  padding-top: 10%;
  padding-right: 10%;
}

.img-p {
  padding-bottom: 5%;
}

.social-logo {
  padding-right: 1rem;
}

.social-logos-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Come and be inspired section */
.bounding-box {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.body-p {
  font-family: "Outfit", sans-serif;
  font-weight: 350;
  letter-spacing: 0.063rem;
  padding-top: 7%;
  padding-bottom: 7%;
}

/* Shoulders Font size and line height listed in Figma Design System (medium) */

.m {
  font-size: 3.75rem;
  line-height: 3.75rem;
}

/* Outfit body font size and line height (small) * */

.bs {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Flex properties */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

/* Left and right of page borders*/
.padding-l-r {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Margin between three main components */
.component-padding {
  padding-bottom: 8rem;
}

/* Hover effect */

.sub-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.313rem;
  letter-spacing: 0.25rem;
  font-family: "Shoulders-Extra-Bold", sans-serif;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover .sub-button {
  background-color: var(--accent);
}

.arrow {
  background-color: var(--accent);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.button:hover .arrow {
  background-color: var(--dark);
}

/* Footer */

.footer {
  padding: 2rem;
}

/* Tablet */

@media (min-width: 900px) {
  /* Flex styling */

  /* overide row and column */
  .o-column {
    flex-direction: column;
  }

  .o-row {
    flex-direction: row;
  }

  .o-center {
    justify-content: center;
    align-items: center;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .absolute {
    position: absolute;
  }

  .position {
    height: 30rem;
    width: 20rem;
    left: 36rem;
    top: 10.5rem;
  }

  /* make into an inset square instead of a div */
  .black-box {
    background-color: black;
    height: 50rem;
    width: 15rem;
    float: left;
    shape-outside: inset(20px 50px 10px 0 round 50px);
  }

  .position-logo {
    height: 30rem;
    width: 30rem;
    left: 2rem;
    top: 10rem;
  }

  .logo-light {
    z-index: 1;
  }

  .logo-dark {
    z-index: 2;
    clip-path: inset(0% 0% 0% 41%);
  }

  .mobile {
    display: none;
    visibility: hidden;
  }

  .tablet {
    display: block;
    visibility: visible;
  }

  .desktop {
    display: none;
    visibility: hidden;
  }

  .padding-b {
    padding-bottom: 2rem;
  }

  .padding-l {
    padding-left: 1rem;
  }

  .heading {
    padding: 0;
  }

  .heading-logo {
    padding-top: 10%;
    padding-right: 2rem;
    height: 10rem;
    width: 30rem;
  }

  /* Your day at the gallery section */
  .section {
    margin-right: 10rem;
  }

  .item {
    flex: 1 1;
  }

  .padding-r {
    padding-right: 1rem;
  }

  /* Come and be inspired section */
  .bounding-box {
    padding: 4rem;
  }

  /* Footer */

  .footer {
    padding: 0;
  }

  .footer-logo {
    padding-bottom: 4rem;
    height: 3rem;
  }

  .social-logos-container {
    padding-bottom: 8rem;
  }
}

/* Desktop */

@media (min-width: 1400px) {
  /* Hides mobile images from desktop view */

  /* make into an inset square instead of a div */
  .black-box {
    width: 25rem;
  }

  .padding-l-r {
    padding: 0;
  }

  .position-logo {
    height: 30rem;
    width: 30rem;
    left: 9rem;
    top: 10rem;
  }

  .logo-light {
    z-index: 1;
  }

  .logo-dark {
    z-index: 2;
    clip-path: inset(0% 0% 0% 50%);
  }

  .mobile {
    display: none;
    visibility: hidden;
  }

  .tablet {
    display: none;
    visibility: hidden;
  }

  .desktop {
    display: flex;
    visibility: visible;
  }

  .hide-white-logo {
    height: 30rem;
    width: 30rem;
  }

  .position {
    left: 55rem;
  }

  .padding-l-r-d {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .component-padding {
    padding-bottom: 12rem;
  }
}

@media (min-width: 2000px) {
  .padding-l-r {
    padding: 0;
  }

  .padding-l-r-d {
    padding-left: 30rem;
    padding-right: 30rem;
  }
  .component-padding {
    padding-bottom: 10rem;
  }
}
