/* Colors */

:root {
  --light: #ffffff;
  --medium: #444444;
  --dark: #151515;
  --accent: #d5966c;
}

/* Basic styling for the whole page */

body {
  margin: 0;
}

/* Fit to container */
.container-fit {
  height: 100%;
  width: 100%;
}

/* HIDING STUFF */

.mobile {
  display: block;
  visibility: visible;
}

.tablet {
  display: none;
  visibility: hidden;
}

.desktop {
  display: none;
  visibility: hidden;
}

/* Overridden with a measured height and width in desktop view*/
.hide-white-logo {
  height: 0;
  width: 0;
}

/* Color variables used in classes */

.dark-background {
  background: var(--dark);
}

.light-text {
  color: var(--light);
}

.medium-text {
  color: var(--medium);
}
/* Font styles*/

@font-face {
  font-family: Outfit;
  src: url("./assets/static/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: Shoulders;
  src: url("./assets/static/BigShouldersDisplay-Black.ttf");
}

@font-face {
  font-family: "Shoulders-Extra-Bold";
  src: url("./assets/static/BigShouldersDisplay-ExtraBold.ttf");
}

.heading {
  font-family: "Shoulders", sans-serif;
  margin-top: 9%;
  margin-right: 15%;
  margin-bottom: 3%;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.img-m {
  margin-bottom: 5%;
}

.social-logo {
  margin-right: 1rem;
}

.social-logos-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Come and be inspired section */
.bounding-box {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.body-p {
  font-family: "Outfit", sans-serif;
  font-weight: 350;
  letter-spacing: 0.063rem;
  padding-top: 7%;
  padding-bottom: 8%;
}

/* Shoulders Font size and line height listed in Figma Design System (medium) */

.m {
  font-size: 3.75rem;
  line-height: 3.75rem;
}

/* Outfit body font size and line height (small) * */

.bs {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Flex properties */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

/* Left and right of page borders*/
.margin-l-r {
  margin-left: 4%;
  margin-right: 4%;
}

/* Margin between three main components */
.component-margin {
  margin-bottom: 8rem;
}

/* Hover effect */

.sub-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.313rem;
  letter-spacing: 0.25rem;
  font-family: "Shoulders-Extra-Bold", sans-serif;
  margin-top: 2%;
}

.button:hover .sub-button {
  background-color: var(--accent);
}

.arrow {
  background-color: var(--accent);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.button:hover .arrow {
  background-color: var(--dark);
}

/* Footer */

.footer {
  padding: 2rem;
}

.start {
  justify-content: flex-start;
}

/* Tablet */

@media (min-width: 900px) {
  /* Flex styling */
  .d-flex {
    display: flex;
  }

  .d-column {
    flex-direction: column;
  }

  .d-row {
    flex-direction: row;
  }

  /* make into an inset square instead of a div */
  .black-box {
    background-color: black;
    height: 50rem;
    width: 15rem;
    float: left;
    shape-outside: inset(20px 50px 10px 0 round 50px);
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .absolute {
    position: absolute;
  }

  .position {
    height: 30rem;
    width: 20rem;
    left: 36rem;
    top: 10.5rem;
  }

  /* Hidden while in mobile visible in tablet */

  .mobile {
    display: none;
    visibility: hidden;
  }

  .tablet {
    display: block;
    visibility: visible;
  }

  .desktop {
    display: none;
    visibility: hidden;
  }

  .position-logo {
    height: 30rem;
    width: 30rem;
    left: 0rem;
    top: 10rem;
  }

  .hide-white-logo {
  }

  .logo-light {
    z-index: 1;
  }

  .logo-dark {
    z-index: 2;
    clip-path: inset(0% 0% 0% 50.5%);
  }

  .margin-l-r-d {
    margin: 0;
  }

  .margin-b {
    margin-bottom: 2rem;
    height: auto;
    width: auto;
  }

  .heading {
    margin-top: 0;
  }

  /* Your day at the gallery section */
  .section {
    margin-right: 8rem;
  }

  .item {
    flex: 1;
  }

  .item1 {
    flex: 1;
    margin-left: 1rem;
  }
  
  /* Come and be inspired section */
  .bounding-box {
    padding: 2rem;
  }

  /* Footer */

  .social-logos-container {
    margin-top: 5rem;
    margin-bottom: 12rem;
    justify-content: flex-end;
  }

  .footer {
    padding-bottom: auto;
  }

  .footer-logo {
    margin-bottom: 4rem;
    height: 3rem;
  }
}

/* Desktop */

@media (min-width: 1400px) {
  /* Hides mobile images from desktop view */

  /* make into an inset square instead of a div */
  .black-box {
    width: 25rem;
  }

  .margin-l-r {
    margin: 0;
  }

  .position-logo {
    height: 30rem;
    width: 30rem;
    left: 9rem;
    top: 10rem;
  }

  .margin {
    margin-bottom: 2rem;
  }

  /* clip-path: inset(0% 0% 0% 0%); */
  /* clip-path: inset(0rem 1rem 0rem 0rem); */

  .logo-light {
    z-index: 1;
  }

  .logo-dark {
    z-index: 2;
    clip-path: inset(0% 0% 0% 62.5%);
  }

  /* Makes desktop images visible */

  .mobile {
    display: none;
    visibility: hidden;
  }

  .tablet {
    display: none;
    visibility: hidden;
  }

  .desktop {
    display: flex;
    visibility: visible;
  }

  .hide-white-logo {
    height: 30rem;
    width: 30rem;
  }

  .position {
    left: 55rem;
  }

  .sub-button {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.313rem;
    letter-spacing: 0.25rem;
    font-family: "Shoulders-Extra-Bold", sans-serif;
    margin-top: 2%;
  }

  .margin-l-r-d {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .component-margin {
    margin-bottom: 12rem;
  }

  .item-big {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40rem;
  }

  .section {
    margin-right: 10rem;
  }

  .margin-l {
    margin-left: 1rem;
  }

  /* Come and be inspired section */
  .bounding-box {
    padding: 4rem;
  }
}
