/* Basic styling for the whole page */
html {
  background-color: #fcfaf9;
}

body {
  margin: 0;
}

.black-background {
  background: #151515;
}

/* Colors */
.red {
  background-color: red;
}
.border {
  border: solid 1px;
  border-color: blue;
}

.white-text {
  color: #fcfaf9;
}

.grey-text {
  color: #444444;
}

/* Font styles*/

@font-face {
  font-family: Outfit;
  src: url("./assets/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: Shoulders;
  src: url("./assets/BigShouldersDisplay-VariableFont_wght.ttf");
}

.heading {
  font-family: "Shoulders", sans-serif;
}

.body-p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 350;
  letter-spacing: 1px;
  line-height: 28px;
}

/* make all font sizes listed in Figma here */

.h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 55px;
}

/* Flex properties */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

/* Position properties */

.header-img {
  max-width: 100%;
}

/* Margin styles */
.margin {
  margin: 3%;
}

.ml {
  margin-left: 10%;
}

.mr {
  margin-right: 15%;
}

.mt {
  margin-top: 5%;
}

.mb {
  margin-bottom: 10%;
}

.component-margin{
  margin-bottom: 30%;
}

.icon-m {
  margin: 8px;
}

/* Padding styles*/

.padding {
  padding: 8%;
}

.pt {
  padding-top: 9%;
}

.pr {
  padding-right: 10%;
}

.pb {
  padding-bottom: 10%;
}

.our-location {
  width: 240px;
  height: 80px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
}

.right-arrow {
  background-color: #d5966c;
  height: 80px;
  width: 68px;
}

/* Desktop */
