/* Colors */

:root {
  --light: #ffffff;
  --medium: #444444;
  --dark: #151515;
  --accent: #d5966c;
}

/* Basic styling for the whole page */

body {
  margin: 0;
}

.container-fit {
  height: 100%;
  width: 100%;
}

/* Hides desktop and tablet images from mobile view */
.hidden {
  visibility: hidden;
}

.no-width-no-height {
  height: 0;
  width: 0;
}

/* Overridden with a measured height and width in desktop view*/
.hide-white-logo {
  height: 0;
  width: 0;
}

/* Color variables used in classes */

.dark-background {
  background: var(--dark);
}

.light-text {
  color: var(--light);
}

.medium-text {
  color: var(--medium);
}
/* Font styles*/

@font-face {
  font-family: Outfit;
  src: url("./assets/static/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: Shoulders;
  src: url("./assets/static/BigShouldersDisplay-Black.ttf");
}

@font-face {
  font-family: "Shoulders-Extra-Bold";
  src: url("./assets/static/BigShouldersDisplay-ExtraBold.ttf");
}

.heading {
  font-family: "Shoulders", sans-serif;
  margin-top: 9%;
  margin-right: 15%;
  margin-bottom: 3%;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.img-m {
  margin-bottom: 5%;
}

.social-logo {
  margin-right: 1rem;
}

.social-logos-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.bounding-box {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.body-p {
  font-family: "Outfit", sans-serif;
  font-weight: 350;
  letter-spacing: 0.063rem;
  padding-top: 7%;
  padding-bottom: 8%;
}

/* Shoulders Font-sizes listed in Figma Design System (xlarge to small)*/

.xl {
  font-size: 6rem;
  line-height: 5.5rem;
}

.l {
  font-size: 4.375rem;
  font-weight: 900;
  line-height: 4.375rem;
}

.m {
  font-size: 3.75rem;
  line-height: 3.75rem;
}

.s {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

/* Outfit body font sizes and line heights (medium and small) */

.bm {
  font-size: 1.375rem;
  line-height: 2rem;
}

.bs {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Flex properties */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

/* Left and right of page borders*/
.margin-l-r {
  margin-left: 4%;
  margin-right: 4%;
}

/* Margin between three main components */
.component-margin {
  margin-bottom: 8rem;
}

/* Hover effect */

.sub-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.313rem;
  letter-spacing: 0.25rem;
  font-family: "Shoulders-Extra-Bold", sans-serif;
  margin-top: 2%;
}

.button:hover .sub-button {
  background-color: var(--accent);
}

.arrow {
  background-color: var(--accent);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.button:hover .arrow {
  background-color: var(--dark);
}

.footer {
  padding: 2rem;
}

/* Tablet */

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

/* Desktop */

/* looks good at min-width 1400px */

@media (min-width: 1400px) {
  /* Flex styling */
  .d-flex {
    display: flex;
  }

  .d-column {
    flex-direction: column;
  }

  .d-row {
    flex-direction: row;
  }

  /* Image styling */

/* Hides mobile images from desktop view */
  .container-fit {
    height: 0;
    width: 0;
  }

  /* Header styling */

  /* make into an inset square instead of a div */
  .black-box {
    background-color: black;
    height: 50rem;
    width: 25rem;
  }

  .absolute {
    position: absolute;
  }

  .margin-l-r {
    margin: 0;
  }

  .position-logo {
    height: 30rem;
    width: 30rem;
    left: 9rem;
    top: 10rem;
  }

  .margin {
    margin-bottom: 2rem;
  }

  /* clip-path: inset(0% 0% 0% 0%); */
  /* clip-path: inset(0rem 1rem 0rem 0rem); */

  .logo-light {
    z-index: 1;
  }

  .logo-dark {
    z-index: 2;
    clip-path: inset(0% 0% 0% 62.5%);
  }

  .hidden {
    visibility: visible;
  }

  .hide-white-logo {
    height: 30rem;
    width: 30rem;
  }

  .position {
    height: 30rem;
    width: 20rem;
    left: 55rem;
    top: 10rem;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .margin-l-r-d {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .component-margin {
    margin-bottom: 12rem;
  }

  /* height: 20.814rem;
    width: 23.691rem; */

  .item {
    flex: 1;
  }

  .item-big {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40rem;
  }

  .section {
    /* padding-right: 10rem;
    padding-left: 10rem; */
    margin-right: 10rem;
  }

  /*Opposite of mobile*/
  .no-width-no-height {
    width: auto;
    height: auto;
  }

  .margin-b {
    margin-bottom: 2rem;
  }

  .margin-l {
    margin-left: 2rem;
  }

  .heading {
    margin-top: 0;
  }

  /* for come be inspired section */
  .bounding-box {
    padding: 4rem;
  }

  /* Footer */

  .social-logos-container {
    margin-top: 5rem;
    margin-bottom: 12rem;
    /* margin-right: 0; */
    justify-content: flex-end;
  }

  .footer-logo {
    margin-bottom: 4rem;
    height: 3rem;
  }
}

@media (min-width: 2000px) {
  body {
    margin-left: 50rem;
    margin-right: 50rem;
  }

  .margin-l-r-d {
    margin: 0;
  }

  .margin-l-r {
    margin-left: 0;
    margin-right: 0;
  }
}
